<p class="wb-collection-ref">
  {%- assign filtered_count = 0 -%}
  {%- for collection in product.collections -%}
    {%- unless collection.template_suffix == 'unlisted-collection' or collection.template_suffix == 'occasion' or collection.template_suffix == 'hidden' -%}
      {%- assign filtered_count = filtered_count | plus: 1 -%}
    {%- endunless -%}
  {%- endfor -%}

  {%- if filtered_count > 0 -%}
    Part of the&nbsp;
    {%- assign output_count = 0 -%}
    {%- for collection in product.collections -%}
      {%- unless collection.template_suffix == 'unlisted-collection' or collection.template_suffix == 'occasion' or collection.template_suffix == 'hidden' -%}
        {%- assign output_count = output_count | plus: 1 -%}
        <a href="{{ collection.url }}">{{ collection.title }}</a>
        {%- if output_count < filtered_count -%}
          {%- assign next_is_last = filtered_count | minus: output_count -%}
          {%- if next_is_last == 1 %} & {% else %}, {% endif -%}
        {%- endif -%}
      {%- endunless -%}
    {%- endfor -%}
    &nbsp;collection{% if filtered_count > 1 %}s{% endif %}
  {%- endif -%}
</p>
