<section class="banding">
  <article class="max">
    <div class="buying-option"> 
      {{ product.options }}
      {% for option in product.options_with_values %}
        {{ option }}
        <h4>
          {% if option.name == 'Size' and product.template_suffix == 'single' %}
            Bottle size
          {% else %}
            {{ option.name }}
          {% endif %}
        </h4>
      {% endfor %}
      <div class="segmented-control">
        <input type="radio" name="Size" value="Bottle" id="bottle" checked>
        <label for="bottle"> Single bottle <span>£50.00</span> </label>
        <input type="radio" name="Size" value="Case" id="case">
        <label for="case"> Case of 6 <span>Save £25.00</span> </label>
      </div>
    </div>
  </article>
  <article class="max">
    <div class="buy-this">
      <div class="summary">
        <div class="number-of-items">
          <div class="quantity">
            <button type="button" class="remove-quantity">&minus;</button>
            <input type="number" value="1">
            <button type="button" class="add-quantity">&plus;</button>
          </div>
        </div>
        <div class="subtotal-of-items">£35.00</div>
      </div>

      <button class="pulse" onclick="location.href='basket.html';">Add to basket</button>
    </div>
  </article>
  <article class="max">
    <ul class="product-list extras">
      <li>
        <a href="#" style="background-image: url(images/shop/tshirt/idrinkwhisky01.jpg)">
          <img src="images/shop/tshirt/idrinkwhisky01.jpg">
          <span class="deetz">
            <h4>I Drink Whisky tee</h4>
            <div class="reveal">
              <p>Black T-shirt</p>
              <sup class="buy pulse">Add for £25.00</sup>
            </div>
          </span>
        </a>
      </li>
      <li>
        <a href="#" style="background-image: url(images/shop/jotters/jotter01.jpg)">
          <img src="images/shop/jotters/jotter01.jpg">
          <span class="deetz">
            <h4>Tasting Notes jotter</h4>
            <div class="reveal">
              <p>76 page soft cover notepad</p>
              <sup class="buy pulse">Add for £3.00</sup>
            </div>
          </span>
        </a>
      </li>
      <li>
        <a href="#" style="background-image: url(images/shop/baseballcaps/stagandfalcon.jpg)">
          <img src="images/shop/baseballcaps/stagandfalcon.jpg">
          <span class="deetz">
            <h4>Stag and Falcon cap</h4>
            <div class="reveal">
              <p>Embroidered petrol trucker hat</p>
              <sup class="buy pulse">Add for £15.00</sup>
            </div>
          </span>
        </a>
      </li>
    </ul>
    <button onclick="location.href='shop.html';" class="secondary-button">Shop a wee bit more</button>
  </article>
</section>
