
<section class="banding">
  <article class="max">
    <p>
      {{ section.settings.keythings_text }}
    </p>
    <ul class="product-list">
      {% assign bottles = collections.promoted %}

      {% for product in bottles.products %}
        {% render 'product-display', product: product %}
      {% endfor %}
    </ul>
    <button onclick="location.href='/collections';" class="secondary-button">Our collections</button>
  </article>
</section>

{% schema %}
{
  "name": "Featured",
  "tag": "div",

  "presets": [
    {
      "name": "Featured"
    }
  ],
  "settings": [
  ]
}
{% endschema %}
