<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }
</style>
    <main id="basket-page">
        <section class="standard">
            <article class="upwards">
                <h2>Cannae find that page</h2>
                <p>
                    Afraid we don't know what page you're looking for. But whatever it is, it's defintitely not this one. So you might need to click about in the menu links above to find it yourself.
                </p>
                <p>
                    Or, here's a few suggestions to help you on your way...
                </p>
                <ul class="features">
                    <li><a class="button" href="blend.html">Craft a truly unique Scotch</a></li>
                    <li><a class="button" href="index.html#guide">See how easy it is to do</a></li>
                    <li><a class="button" href="shop.html#single-cask">Label some single cask Scotch</a></li>
                    <li><a class="button" href="shop.html#credit">Send gift credit to someone</a></li>
                    <li><a class="button" href="more.html">Learn a wee bit more about whisky</a></li>
                    <li><a class="button" href="shop.html#bottlings">Shop interesting bottles &amp; more</a></li>
                </ul>
                <div class="lost-image1">
                    <img src="images/the-bon.png" alt="Cheers, Andy & Drew">
                </div>
            </article>
        </section>
    </main>
