
<div class="section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }}">
  <section class="standard">
    <article class="upwards">
      <p class="intro">
        {{ collection.description }}
      </p>
      <ul class="product-list">
        {%- for product in collection.products -%}
          <li>
            {% render 'card-product',
              card_product: product,
              media_aspect_ratio: section.settings.image_ratio,
              image_shape: section.settings.image_shape,
              show_secondary_image: section.settings.show_secondary_image,
              show_vendor: section.settings.show_vendor,
              show_rating: section.settings.show_rating,
              quick_add: section.settings.quick_add,
              section_id: section.id
            %}
          </li>
        {%- endfor -%}
      </ul>
    </article>
  </section>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "section",
  "settings":[]
}
{% endschema %}
