<section id="shop-clothes" class="banding">
  <article class="max">
    <h3 class="section-title-wb">{{ section.settings.title }}</h3>
    <p>
      {{ section.settings.description }}
    </p>
    <ul class="product-list">
      {% assign clothes = collections['claes-an-hings'] %}

      {% for product in clothes.products %}
          {% render 'product-display', product: product %}

      {% endfor %}
    </ul>
  </article>
</section>

{% stylesheet %}
  .clothes-products {
    background-color: #eaeaea;
    padding: 20px;
  }
{% endstylesheet %}

{% javascript %}
  {
  }
{% endjavascript %}

{% schema %}
{
  "name": "Shop - Claes an hings",
  "presets": [{ "name": "Shop - Claes an hings" }],
  "tag": "div",
  "class": "clothes-products",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Header Title"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    }
  ]
}
{% endschema %}
