<section id="shop-gift" class="banding">
  <article class="max">
    <a id="credit"></a>
    <h3 class="section-title-wb">{{ section.settings.title }}</h3>
    <p>
      {{ section.settings.description }}
    </p>
    <ul class="product-list">
      {% assign gift_credit = collections['gift-credit'] %}

      {% for product in gift_credit.products %}
          {% render 'product-display', product: product %}
      {% endfor %}
    </ul>
  </article>
</section>

{% stylesheet %}
  .gift-credit {
    background-color: #EAEAEA;
    padding: 20px;
  }
{% endstylesheet %}

{% javascript %}
  {
  }
{% endjavascript %}

{% schema %}
{
  "name": "Shop Gift Credit ",
  "presets": [{ "name": "Shop Gift Credit" }],
  "tag": "div",
  "class" : "gift-credit",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Header Title"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    }
  ]
}
{% endschema %}
