<section class="banding">
  <article class="max">
    <h3 class="section-title-wb">{{ section.settings.collection.title }}</h3>
    <p>
      {{ section.settings.description }}
    </p>
    <ul class="product-list">
      {% for product in section.settings.collection_id %}
        {% render 'product-display', product: product %}
      {% endfor %}
    </ul>
  </article>
</section>

{% schema %}
{
  "name": "Shop Collection",
    "presets": [{ "name": "Shop Collection" }],

  "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "collection"
      },
  ],
}
{% endschema %}
