<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
<!--[if (lt IE 9)]><script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/min/tiny-slider.helper.ie8.js"></script><![endif]-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
<!-- NOTE: prior to v2.2.1 tiny-slider.js need to be in <body> -->
<section class="banding">
  <article class="max">
    <ul class="my-slider">
      <li>
        <a href="https://uk.trustpilot.com/reviews/6733ca8c862f6bb435709247" target="_blank"
          ><span class="stars"></span>The taste and quality is absolutely excellent...</a
        >
      </li>
      <li>
        <a href="https://uk.trustpilot.com/reviews/672d396e455fbdcded358bc3" target="_blank"
          ><span class="stars"></span>Everything about this company is just perfection...</a
        >
      </li>
      <li>
        <a href="https://uk.trustpilot.com/reviews/672cf2b974c9225aaf66ae1b" target="_blank"
          ><span class="stars"></span>Great service, speedy delivery...</a
        >
      </li>
      <li>
        <a href="https://uk.trustpilot.com/reviews/6723bc69568bc74b9b2f6462" target="_blank"
          ><span class="stars"></span>They are worth more than 5stars...</a
        >
      </li>
      <li>
        <a href="https://uk.trustpilot.com/reviews/6723cf299f618a54ec791b35" target="_blank"
          ><span class="stars"></span>Brilliant idea getting to blend your own...</a
        >
      </li>
      <li>
        <a href="https://uk.trustpilot.com/reviews/6733db7a0ff4d2cdffef6f9e" target="_blank"
          ><span class="stars"></span>I will definitely be ordering again and after tasting my own bottle...</a
        >
      </li>
      <li>
        <a href="https://uk.trustpilot.com/reviews/6723e5e861170ed47b2741d8" target="_blank"
          ><span class="stars"></span>My Dad absolutely loved his bottle...</a
        >
      </li>
    </ul>
    <button onclick="window.open('https://uk.trustpilot.com/review/whiskyblender.com')" class="secondary-button">
      Review on Trustpilot
    </button>
  </article>
</section>



{% stylesheet %}
{% endstylesheet %}

{% javascript %}
  var slider = tns({
    container: '.my-slider',
    items: 1,
    responsive: {
      640: {
        edgePadding: 20,
        gutter: 20,
        items: 2
      },
      700: {
        gutter: 30
      },
      900: {
        items: 3
      }
    }
  });
{% endjavascript %}
{% schema %}
{
  "name": "Trust Pilot",
  "settings": [],
    "presets": [{ "name": "Trust Pilot" }],

}
{% endschema %}
