
  <section class="banding upwards">

    <article class="max">
      {% if section.settings.section_description != blank %}
        {{ section.settings.section_description }}
      {% endif %}

      {% if section.settings.small_footer_text != blank %}
        <p class="help">
          {{ section.settings.small_footer_text }}
        </p>
      {% endif %}

    <div class="lab-image2">
      <img src="{{ 'drips-black.svg' |  asset_url  }}" alt="Drops of whisky">
    </div>
    </article>
  </section>

{{ 'upwards.css' | asset_url | stylesheet_tag: preload: true }}

{% schema %}
{
  "name": "Upwards",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "header_title",
      "default": "Uisge beatha!",
      "label": "Header title"
    },
    {
      "type": "text",
      "id": "small_footer_text",
      "label": "small footer text",
      "default": "And in case you're wondering, uisge beatha is the original name for Scotch Whisky. It's pronounced 'oosh-keh—bae-ha' and means Water of Life in Scottish Gaelic (it's our version of aqua vitae, but better)."
    },
    {
      "type": "richtext",
      "id": "section_description",
      "label": "Section title",
      "default": "<p> You've scrolled too far, head back up to complete your blend! If you need some help getting started, we have a few wee suggestions. </p>",
      "info": "Bullet points not available"
    }
  ],
  "presets": [
    {
      "name": "Uprawds"
    }
  ]
}
{% endschema %}
