

<h1 class="wb-producttitle wb-medium-heading">{{ settings.title }}</h1>
{% schema %}
{
  "name": "WB - Title",
  "presets": [
    {
      "name": "WB - Title",
      "category": "Whiskyblender"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "title",
    },
  ]
}
{% endschema %}
