<section class="banding">
  <article class="max">
    <h3>{{ section.settings.title }}</h3>
    <p>
      {{ section.settings.text }}
    </p>

    <div class="yaldy-image2">
      <img
        height=""
        width=""
        src="{{ section.settings.image_url | image_url: width: 440, height: 300 }}"
        alt="{{ section.settings.image_url.alt }}"
      >    </div>
  </article>
</section>

{% schema %}
{
  "name": "Yass! - How WB",
  "presets": [{ "name": "Yass! - How WB" }],
  "tag": "div",
  "class": "yaldy-how",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "How but?"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
    },
    {
      "type": "image_picker",
      "id": "image_url",
      "label": "Image URL"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
