@font-face {
    font-family: 'trimPosterCompressed';
    font-display: block;
    src: url('../fonts/TrimPosterWeb-Compressed.eot'),
       url('../fonts/TrimPosterWeb-Compressed.woff') format('woff'),
       url('../fonts/TrimPosterWeb-Compressed.ttf')  format('truetype');
}