header {
    background: #000000;
    color: #ffffff;
    text-align: center;
    position: relative;
}

.header-image h2 span {
    font-family: "Nanum Pen Script", cursive;
    font-weight: 300;
    font-size: 5vw;
    line-height: 4vw;
    width: 14vw;
    display: inline-block;
    padding: 20px 0;
    vertical-align: bottom;
    text-transform: uppercase;
}

.header-image {
    background-size: cover;
    background-position: center;
    display: block;
    color: #ffffff;
    border-radius: 0 0 40px 40px;
    box-shadow: inset 200px -300px 500px rgba(0,0,0,0.2);
    margin: 0 10px;
    overflow: hidden;
    background-color: #111111;
}

.header-image.loose-header {
    padding: 55vw 30px 10px 30px;
}

.header-image.tight-header {
    padding: 40px 30px 10px 30px;
}

.header-image.mid-header {
    border-radius: 40px;
    margin-top: 40px;
}

.header-image h2 {
    color: #ffffff;
    z-index: 2;
    position: relative;
}

.header-image video {
    position: absolute;
    box-shadow: inset 200px -300px 500px rgba(0,0,0,0.2);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    opacity: 0.8;
}

    .header-image {
        border-radius: 0 0 60px 60px;
        margin: 0 20px;
    }

    .header-image.loose-header {
        padding: 30vh 40px 30px 40px;
    }

    .header-image.tight-header {
        padding: 40px 40px 30px 40px;
    }

    .header-image.mid-header {
        border-radius: 60px;
    }


@media only screen and (min-width: 1064px) {

  .header-image h2 span {
    font-size: 52px;
    line-height: 44px;
    width: 100px;
  }

  
  .header-image {
    border-radius: 0 0 80px 80px;
    max-width: 904px;
    margin: 0 auto;
  }

  .header-image.loose-header {
    padding: 300px 60px 20px 60px;
  }

  .header-image.tight-header {
    padding: 40px 60px 20px 60px;
  }

  .header-image.mid-header {
    border-radius: 80px;
  }
}

@media only screen and (min-width: 600px) {

  
  #logo {
    margin: 30px auto;
    height: 24px;
    position: relative;
  }

  #logo a {
    width: 210px;
    height: 30px;
    margin-top: 6px;
  }

  #logo span {
    font-size: 8px;
    height: 24px;
    padding: 6px 32px;
    letter-spacing: 2px;
    width: 130px;
  }

  #logo span span {
    display: contents;
  }
}
h1 {
  display: none;
}