header {
  background: #000000;
  color: #ffffff;
  text-align: center;
  position: relative;
}

.header-image h2 span {
  font-family: "Nanum Pen Script", cursive;
  font-weight: 300;
  font-size: 5vw;
  line-height: 4vw;
  width: 14vw;
  display: inline-block;
  padding: 20px 0;
  vertical-align: bottom;
  text-transform: uppercase;
}

.header-image {
  background-size: cover;
  background-position: center;
  display: block;
  color: #ffffff;
  border-radius: 0 0 40px 40px;
  box-shadow: inset 200px -300px 500px rgba(0, 0, 0, 0.2);
  margin: 0 10px;
  overflow: hidden;
  background-color: #111111;
}

.header-image.loose-header {
  padding: 55vw 30px 10px 30px;
}

.header-image.tight-header {
  padding: 40px 30px 10px 30px;
}

.header-image.mid-header {
  border-radius: 40px;
  margin-top: 40px;
}

.header-image h2 {
  color: #ffffff;
  z-index: 2;
  position: relative;
}

.header-image video {
  position: absolute;
  box-shadow: inset 200px -300px 500px rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  opacity: 0.8;
}

.header-image {
  border-radius: 0 0 60px 60px;
  margin: 0 20px;
}

.header-image.loose-header {
  padding: 30vh 40px 30px 40px;
}

.header-image.tight-header {
  padding: 40px 40px 30px 40px;
}

.header-image.mid-header {
  border-radius: 60px;
}

@media only screen and (min-width: 1064px) {
  .header-image h2 span {
    font-size: 52px;
    line-height: 44px;
    width: 100px;
  }
  #logo {
    margin: 24px auto;
    height: 36px;
    position: relative;
  }

  #logo a {
    width: 230px;
    height: 33px;
    margin-top: 10px;
  }

  #logo span {
    font-size: 10px;
    height: 28px;
    padding: 12px 52px;
    letter-spacing: 4px;
    text-transform: uppercase;
    width: 200px;
  }

  .header-image {
    border-radius: 0 0 80px 80px;
    max-width: 904px;
    margin: 0 auto;
  }

  .header-image.loose-header {
    padding: 300px 60px 20px 60px;
  }

  .header-image.tight-header {
    padding: 40px 60px 20px 60px;
  }

  .header-image.mid-header {
    border-radius: 80px;
  }
}

@media only screen and (min-width: 600px) {
  #logo {
    margin: 30px auto;
    height: 24px;
    position: relative;
  }

  #logo a {
    width: 210px;
    height: 30px;
    margin-top: 6px;
  }

  #logo span {
    font-size: 8px;
    height: 24px;
    padding: 6px 32px;
    letter-spacing: 2px;
    width: 130px;
  }
  #logo span span {
    display: contents;
  }
}
h1 {
  display: none;
}

#logo {
  display: inline-block;
  margin: 20px auto;
  height: 20px;
  position: relative;
}

#logo a {
  font-size: 0;
  display: inline-block;
  width: 180px;
  height: 26px;
  background-image: url("https://cdn.shopify.com/s/files/1/0846/7592/0200/files/wblogo.svg?v=1730498213");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-top: 6px;
}

#logo span {
  font-size: 8px;
  height: 20px;
  display: inline-block;
  padding: 4px 3vw;
  color: #dddddd;
  width: 14vw;
  text-align: center;
  text-transform: uppercase;
}

#logo-wrapper-wb {
  position: relative;
  width: fit-content;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-size: 8px;
  padding: 10px 0 10px 0;

  @media screen and (min-width: 600px) {
    padding: 22px 0 16px 0;
  }
  @media screen and (min-width: 1064px) {
    padding: 22px 0 26px 0;
  }

  > .logo-subtitle {
    position: absolute;
    font-size: 8px;
    height: 28px;
    padding: 8px 52px 0 52px;
    margin: 0;
    letter-spacing: 1px;
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
    white-space: nowrap;
    @media only screen and (min-width: 600px) {
      font-size: 8px;
      letter-spacing: 2px;
    }
    @media only screen and (min-width: 1064px) {
      font-size: 10px;
      letter-spacing: 4px;
    }
    &.right {
      right: -118px;
      top: 10px;
      @media only screen and (min-width: 600px) {
        right: -195px;
        top: 24px;
      }
      @media only screen and (min-width: 1064px) {
        right: -280px;
      }
    }

    &.left {
      left: -111px;
      top: 10px;
      @media only screen and (min-width: 600px) {
        left: -210px;
        top: 24px;
      }
      @media only screen and (min-width: 1064px) {
        left: -300px;
      }
    }

    & .mobile-subtitle {
      display: block;

      @media screen and (min-width: 600px) {
        display: none;
      }
    }

    & .desktop-subtitle {
      display: none;

      @media screen and (min-width: 600px) {
        display: block;
      }
    }
  }
}

span.pre-logo {
  float: left;
}

span.post-logo {
  float: right;
}

#logo span span {
  display: none;
}

nav {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 10px;
}

nav ul {
  background-image: linear-gradient(#222222, #555555);
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  font-size: 12px;
  font-weight: 600;
  border-radius: 6px 6px 0 0;
}

nav ul li {
  text-transform: uppercase;
  position: relative;
  width: -webkit-fill-available;
  margin: 0;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  line-height: 32px;
  padding: 5px 0 3px 0;
  position: relative;
  background: #222222;
  transition: background 0.4s;
  border-radius: 6px 6px 0 0;
}

nav ul li a:hover {
  background: transparent;
}

nav ul li a.active {
  background: #555555;
}
