#index .product-list li {
    display: none;
}

#index .product-list li:first-of-type {
    display: block;
}

span.initial-button {
    display: block;
    margin: 20px 0;
}

.home-image1 img, .home-image2 img, .home-image3 img, .home-image4 img {
    width: 100%;
    height: auto;
    z-index: 2;
    position: relative;
}

.home-image1, .home-image2, .home-image3, .home-image4 {
    width: 100%;
    height: auto;
    transition: transform 0.6s;
}

.home-image1 {
    display: none;
}

.home-image2 {
    display: block;
    width: 220px;
    padding-top: 20px;
    transform: rotate(5deg);
}

.home-image3 {
    display: block;
    width: 80%;
    margin: -60px 0 -40px 20%;
    max-width: 600px;
    transform: rotate(5deg);
}

.home-image4 {
    display: none;
}

.step {
    margin: 40px 0 0 0;
}

#blending-steps .step {
    margin: 0;
}

#blending-steps .step1, #blending-steps .step2, #blending-steps .step3 {
    margin-left: -10px;
    max-width: 90px;
    text-align: center;
}

#blending-steps .step h4 {
    margin: -10px 0 14px 0
}

span.step1, span.step2, span.step3 {
    display: block;
    padding: 20px 20px 14px 20px;
    font-family: "NanumPenScript", cursive;
    font-weight: 300;
    font-size: 34px;
    text-transform: uppercase;
    margin: 0 0 0 -20px;
    position: relative;
    border-radius: 40px;
    z-index: 20;
}

span.step1 {
    background-color: #f4e6f2;
    transform: rotate(1deg);
}

span.step2 {
    background-color: #c9e1f2;
    transform: rotate(-1deg);
    margin-bottom: 5px;
}

span.step3 {
    background-color: #dccfbb;
    transform: rotate(2deg);
}
    
.step h4 {
    position: relative;
    font-family: 'trimPosterCompressed', sans-serif;
    font-weight: 400;
    font-size: 62px;
    line-height: 40px;
    display: block;
    margin: 40px 0 0 0;
    vertical-align: bottom;
    font-size: 62px;
    line-height: 50px;
    margin: -10px 0 0 0;
    z-index: 30;
}

a.get-started {
    background: #199776;
    width: 30px;
    height: 30px;
    display: inline-block;
    color: #ffffff;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    font-size: 32px;
    line-height: 30px;
    margin-right: -30px;
    margin-bottom: -10px
}

a.get-started:hover {
    background: #237f5e;
}

.label-cycle {
    background: url(../images/label-cycle.gif);
    background-size: cover;
    width: 90%;
    height: 32%;
    display: block;
    position: absolute;
    top: 36%;
    left: 5%;
    z-index: 1;
}

@media only screen and (min-width: 600px) {

    #index .product-list li:nth-of-type(2) {
        display: block;
    }
    
    .home-image1 {
        display: block;
        position: absolute;
        width: 40vw;
        top: -58vw;
        right: calc(-26vw - 60px);
        z-index: 2;
        transform: rotate(-8deg);
        margin: 10px 10%;
        max-width: 600px;
    }

    .home-image2 {
        width: 280px;
        padding-top: 30px;
    }
    
    .home-image3 {
        position: absolute;
        width: 45vw;
        top: -30vw;
        right: -15%;
        z-index: 3;
        transform: rotate(15deg);
        margin: 0;
    }
    
    .step {
        padding-left: 130px;
    }

    #blending-steps .step {
        padding: 0;
    }

    span.step1, span.step2, span.step3 {
        padding: 30px 30px 20px 30px;
        transform: rotate(0deg);
        font-size: 36px;
        margin: 10px 0 0 -160px;
    }

    span.step1 {
        transform: rotate(2deg);
        width: 410px;
    }

    span.step2 {
        transform: rotate(-1deg);
        width: 420px;
    }

    span.step3 {
        transform: rotate(1deg);
        width: 430px;
    }
    
    .step h4 {
        font-size: 100px;
        margin-top: -50px;
        line-height: 80px;
    }

    #blending-steps .step1, #blending-steps .step2, #blending-steps .step3 {
        display: inline-block;
        margin-left: -20px;
    }

    #index .imageGallery1.gallery li {
        width: 29%;
    }

    #index .imageGallery1.gallery li.image-1 {
        top: -40%;
        right: -12%;
        position: absolute;
        z-index: 2;
    }

    #index .imageGallery1.gallery li.image-1 img {
        border: 20px solid #ffffff;
        transform: rotate(14deg);
    }
    
}

@media only screen and (min-width: 768px) {

    .home-image4 {
        display: block;
        position: absolute;
        width: 36vw;
        top: 80px;
        right: calc(-660px + 50vw);
        z-index: 1;
        transform: rotate(-10deg);
        max-width: 600px;
    }
    
    .step p {
        max-width: 500px;
    }
    
}

@media only screen and (min-width: 846px) {

    #index .product-list li {
        display: block;
    }
    
}

@media only screen and (min-width: 1024px) {

    #index .imageGallery1.gallery li {
        position: absolute;
        width: 25%;
        z-index: 2;
    }

    #index .imageGallery1.gallery li img {
        border: 20px solid #ffffff;
    }

    #index .imageGallery1.gallery li.image-1 {
        top: -450px;
        right: -90px;
    }

    #index .imageGallery1.gallery li.image-2 {
        top: -220px;
        right: 10px;
    }

    #index .imageGallery1.gallery li.image-3 {
        top: -70px;
        right: -180px;
    }

    #index .imageGallery1.gallery li.image-4 {
        top: 90px;
        right: -30px;
    }

    #index .imageGallery1.gallery li.image-1 img {
        transform: rotate(10deg);
    }

    #index .imageGallery1.gallery li.image-2 img {
        transform: rotate(-14deg);
    }

    #index .imageGallery1.gallery li.image-3 img {
        transform: rotate(3deg);
    }

    #index .imageGallery1.gallery li.image-4 img {
        transform: rotate(14deg);
    }
    
}

@media only screen and (min-width: 1064px) {
    
    .home-image1 {
        width: 500px;
        top: -80%;
        right: -42%;
        transform: rotate(-20deg);
    }
    
    .home-image1:hover {
        transform: rotate(-19deg);
    }

    .home-image2 {
        width: 320px;
        padding-top: 40px;
    }
    
    .home-image3 {
        width: 450px;
        top: -220px;
        right: -20%;
    }
    
    .home-image3:hover {
        transform: rotate(14deg);
    }

    .home-image4 {
        width: 380px;
        top: 60px;
        right: auto;
        left: -440px;
        transform: rotate(-10deg);
    }
    
    .home-image4:hover {
        transform: rotate(-5deg);
    }
    
    .step {
        padding: 0;
    }
    
    .step p {
        max-width: none;
    }

    #blending-steps .step1, #blending-steps .step2, #blending-steps .step3 {
        margin-left: -40px;
        transform: rotate(-3deg);
    }
    
    
}