#sticky-frame {
    position: relative;
    display: block;
    margin-top: -10px;
    z-index: 1;
    width: 100%;
    margin-bottom: 100px;
}

.notsticky-frame {
    position: relative;
    z-index: 2;
}

#blending-steps {
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#lab-bottle {
    margin: 0 auto;
    width: 280px;
    height: 470px;
    display: block;
    position: relative;
    margin: 0 auto;
}

#lab-bottle .mask-layer, #lab-bottle .top-layer, #lab-bottle .base-layer, #lab-bottle .middle-layer, #lab-bottle .cap-layer, #lab-bottle .bag-layer, #lab-bottle .label-layer, #lab-bottle .label-background {
    width: 100%;    
    height: 100%;
    display: block;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease-in-out;
}

.label-layer #outer {
    font-family: 'trimPosterCompressed', sans-serif;
    font-weight: 400;
    position: absolute;
    top: 178px;
    left: 98px;
    width: 90px;
    height: 80px;
    text-transform: uppercase;
    transform: 
        perspective(999px)
        rotateX(-4deg)
        rotateY(23deg)
        rotateZ(0.5deg);
    place-content: center;
    display: grid;
    justify-content: start;
    text-shadow: 1px 1px 0 white;
    z-index: 2;
}

.label-layer .side {
    position: absolute;
    top: 272px;
    left: 98px;
    width: 116px;
    height: 12px;
    transform: 
        perspective(999px)
        rotateX(-6deg)
        rotateY(23deg)
        rotateZ(0.5deg);
    text-shadow: 1px 1px 0 white;
    z-index: 2;
}

.side .blender-name, .side .blend-date, .side .blend-code {
    font-size: 7px!important;
    line-height: 6px!important;
    font-weight: 700;
    position: absolute;
    display: block;
}

#lab-bottle .mask-layer {
    background-image: url("https://cdn.shopify.com/s/files/1/0846/1136/7177/files/bottle-mask.png?v=1732828623");
    z-index: 5;
}

#lab-bottle .top-layer {
    background-image: url("https://cdn.shopify.com/s/files/1/0846/1136/7177/files/bottle-empty.png?v=1732828541");
    z-index: 3;
    mix-blend-mode: color-burn;
}

#lab-bottle .mask-layer .fill-status {
    position: absolute;
    background: rgba(240, 240, 240, 0.6);
    color:  rgba(0, 0, 0, 0.6);
    border-radius: 200px;
    overflow: hidden;
    width: 60px;
    height: 60px;
    left: 113px;
    top: 257px;
    font-size: 24px;
    line-height: 60px;
    font-family: "Roboto Mono", monospace;
    text-align: center;
}

#lab-bottle .base-layer {
    background-image: url("https://cdn.shopify.com/s/files/1/0846/1136/7177/files/bottle-empty.png?v=1732828541");
    z-index: 4;
    mix-blend-mode: darken;
}

#lab-bottle .middle-layer {
    background-image: url("https://cdn.shopify.com/s/files/1/0846/1136/7177/files/bottle-full.png?v=1732828542");
    z-index: 2;
    mix-blend-mode: overlay;
}

#lab-bottle .cap-layer {
    background-image: url("https://cdn.shopify.com/s/files/1/0846/1136/7177/files/bottle-cap.png?v=1732828476");
    z-index: 6;
}

#lab-bottle .bag-layer {
    background-image: url("https://cdn.shopify.com/s/files/1/0846/1136/7177/files/bottle-bag.png?v=1732828401");
    z-index: 8;
}

#lab-bottle .label-layer {
    background-image: url("https://cdn.shopify.com/s/files/1/0846/1136/7177/files/bottle-label-malt.png?v=1732828476");
    z-index: 7;
}

#lab-bottle .label-layer.festive {
    background-image: url("https://cdn.shopify.com/s/files/1/0846/1136/7177/files/festive-label-malt.png?v=1732828726");
    z-index: 7;
}

#lab-bottle .label-layer.scotch {
    background-image: url("https://cdn.shopify.com/s/files/1/0846/1136/7177/files/bottle-label-scotch.png?v=1732828623");
    z-index: 7;
}

#lab-bottle .label-layer.scotch.festive {
    background-image: url("https://cdn.shopify.com/s/files/1/0846/1136/7177/files/festive-label-scotch.png?v=1732828725");
    z-index: 7;
}

#lab-bottle .label-layer.cask {
    background-image: url("https://cdn.shopify.com/s/files/1/0846/1136/7177/files/bottle-label-cask.png?v=1732828726");
    z-index: 7;
}

#lab-bottle .label-background {
    z-index: 1;
    mix-blend-mode: multiply;
}


#lab-bottle .label-background.heart {
    background-image: url("https://cdn.shopify.com/s/files/1/0846/1136/7177/files/label-heart_preview.png?v=1738100701");
}

#lab-bottle .label-background.gold {
    background-image: url("https://cdn.shopify.com/s/files/1/0846/1136/7177/files/label-gold_preview.png?v=1738100707");
}

#lab-bottle .label-background.party {
    background-image: url("https://cdn.shopify.com/s/files/1/0846/1136/7177/files/label-party_preview.png?v=1738100697");
}

#lab-bottle .bottom-layer {
    width: 90%;
    height: 310px;
    display: block;
    position: absolute;
    top: 130px;
    left: 5%;
    z-index: 1;
}

#lab-bottle .bottom-layer .liquid {
    width: 100%;
    display: block;
    background: #ffffff;
    position: relative;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

#lab-bottle .bottom-layer .liquid:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 60px;
    display: block;
    background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
    bottom: -64px;
    mix-blend-mode: soft-light;
}

#lab-bottle .middle-layer:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 50%;
    display: block;
}

.hints {
    background: #fafafa;
    padding: 10px 20px;
    border-radius: 16px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    margin: 20px 0;
}

.hints ul.prefills {
    padding: 0;
    list-style: none;
    margin-top: -10px;
}

.hints ul.prefills li {
    display: inline-block;
    padding: 6px 10px;
    background: #dddddd;
    font-weight: 600;
    border-radius: 6px;
    margin-top: 10px;
    transition: background 0.4s;
}

.hints ul.prefills li + li {
    margin-left: 10px;
}

.hints ul.prefills li:hover {
    background: #cccccc;
    cursor: pointer;
}

.current-option {
    position: relative;
}

.summary-panel {
    display: block;
    position: relative;
    background: #555555;
    padding: 20px;
    border-radius: 16px;
    color: #ffffff;
    z-index: 2;
    margin-top: 20px;
}

.summary-panel p {
    font-size: 10px;
    line-height: 12px;
    padding: 6px;
    margin: 0;
    width: calc(100% - 137px);
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
}

ul.summary-details {
    display: inline-block;
    list-style: none;
    width: 120px;
    padding: 0;
    vertical-align: middle;
    margin: 0;
    text-align: right;
    font-size: 18px;
}

ul.summary-details li {
    margin: 0;
}

ul.summary-details li span {
    font-size: 10px;
}

.option-image {
    width: 220px;
    height: 220px;
    position: absolute;
    top: -40%;
    left: 0;
    display: block;
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s, top 1s, width 1s, height 1s, left 1s, background-size 14s;
    background-size: 125%;
}

.option-image:after {
    content: '';
    position: absolute;
    display: block;
    width: 60%;
    height: 60%;
    background-color: inherit;
    top: 30%;
    left: 0;
    border-radius: 50%;
    opacity: 0.95;
    transition: top 1.4s, width 1.4s, height 1.4s, left 1.4s;
}

.glide.lab {
    margin-bottom: 40px;
}

.glide.lab .glide__track {
    display: block;
    position: relative;
}

.glide.lab .glide__slide {
    opacity: 0;
    display: inline;
    transition: opacity 0.4s;
}

.glide.lab .glide__slide--active {
    opacity: 1;
}

.glide__slide--active .option-image {
    width: 220px;
    height: 220px;
    top: -160px;
    opacity: 1;
    left: calc(50% - 110px);
    background-size: 100%;
}

.glide__slide--active .option-image:after {
    width: 60%;
    height: 60%;
    top: 45%;
    left: -20%;
}

.option-card {
    display: block;
    position: relative;
    background: #fafafa;
    z-index: 20;
    padding: 18px 90px 18px 20px;
    border-radius: 16px;
    min-height: 180px;
    -webkit-transform: translate3d(0,0,0);
}

.option-card h4 {
    font-size: 24px;
    margin: 6px;
}

.option-card p {
    font-size: 16px;
    line-height: 20px;
    margin: 6px;
}

.option-card small {
    font-size: 11px;
    line-height: 18px;
    margin: 6px;
    font-weight: bold;
    opacity: 0.6;
    /*font-family: "Roboto Mono", monospace;*/
}

ul.option-controls {
    list-style: none;
    font-size: 20px;
    position: absolute;
    top: -80px;
    right: 0;
    background: #fafafa;
    padding: 4px;
    z-index: 30;
    text-align: center;
    font-weight: 600;
    border-radius: 16px;
    margin: 0;
    width: 88px;
    -webkit-transform: translate3d(0,0,0);
}

ul.option-controls li button {
    width: 80px;
    height: 80px;
    background-color: #111111;
    font-size: 0;
    border: 4px solid #fafafa;
    transition: border 0.2s;
}

ul.option-controls li button:hover {
    border: 2px solid #fafafa;
    transition: border 0.2s;
    background-color: #222222;
}

button.add-liquid {
    background-image: url(../images/icons/add.svg);
    background-repeat: no-repeat;
    background-position: center;
}

button.remove-liquid {
    background-image: url(../images/icons/remove.svg);
    background-repeat: no-repeat;
    background-position: center;
}

ul.option-controls li button.disabled.add-liquid {
    background-image: url(../images/icons/add-disabled.svg);
    background-color: #cccccc;
    color: #666666;
    pointer-events: none;
}

ul.option-controls li button.disabled.remove-liquid {
    background-image: url(../images/icons/remove-disabled.svg);
    background-color: #cccccc;
    color: #666666;
    pointer-events: none;
}

span.option-amount {
    padding: 18px 0;
    display: block;
    font-family: "Roboto Mono", monospace;
}

.lab-padding {
    padding: 0 20px;
}

article.blending-fun {
    margin: 0 -20px;
}

.lab-image1 img {
    width: 100%;
    height: auto;
}

.lab-image1 {
    display: inline-block;
    width: 26vw;
    margin: 10px 0;
    max-width: 600px;
    position: absolute;
    z-index: 3;
    top: 0;
    right: 5vw;
}

.lab-image2 {
    display: none;
}

.text.color1 {
    color: #000000;
}

.text.color2 {
    color: #199776;
}

.text.color3 {
    color: #3a5d9f;
}

.text.color4 {
    color: #da5152;
}

.segmented-control {
    margin: 0;
    background: #fafafa;
    flex-direction: row;
}

span.sample {
    font-size: 0;
    display: block;
    width: 100%;
    height: 30px;
    border-radius: 6px;
}

.sample.color1 {
    background: #000000;
}

.sample.color2 {
    background: #199776;
}

.sample.color3 {
    background: #3a5d9f;
}

.sample.color4 {
    background: #da5152;
}
    
.left-column p {
    font-size: 18px;
    line-height: 26px;
    margin-top: -6px;
}

.start-blending {
    padding: 0 20px;
}

#blending-steps .step.step-with-gap {
    margin-top: 40px;
}

@media only screen and (min-width: 600px) {

    .start-blending {
        padding: 0;
    }
    
    .notsticky-frame {
        overflow: hidden;
        padding: 0 40px;
    }

    article.blending-fun {
        margin: 0 -40px;
        padding-right: 0;
    }

    article.blending-button {
        margin: 0;
        padding-right: 0;
    }
    
    #blending-steps {
        width: calc(70% - 40px);
        display: inline-block;
        vertical-align: top;
        padding: 0;
        margin-left: 30%;
    }
    
    #sticky-frame {
        position: absolute;
        left: -35%;
        height: 100%;
        width: 560px;
        display: block;
        vertical-align: top;
        top: 0;
        z-index: 1;
        margin: 0;
    }
    
    .current-option {
        margin-top: 220px;
    }
    
    .option-card {
        height: auto;
    }

    .option-image {
        width: 150px;
        height: 150px;
        top: 20px;
        left: 120px;
    }

    .option-image:after {
        left: 0;
        top: 0;
    }

    .glide__slide--active .option-image {
        width: 300px;
        height: 300px;
        top: -200px;
        left: 0;
    }

    .glide__slide--active .option-image:after {
        left: -40px;
        top: 40%;
    }
    
    #lab-bottle {
        display: block;
        width: 420px;
        position:-webkit-sticky;
        position: sticky;
        margin-left: 0;
        top: calc(50vh - 230px);
    }

    #lab-bottle .mask-layer, #lab-bottle .top-layer, #lab-bottle .base-layer, #lab-bottle .middle-layer, #lab-bottle .cap-layer, #lab-bottle .bag-layer, #lab-bottle .label-layer, #lab-bottle .label-background {
        background-size: contain;
    }

    #lab-bottle .bottom-layer {
        width: 180px;
        height: 300px;
        top: 134px;
        left: 38px;
    }

    .label-layer #outer {
        left: 19.6%;
        top: 38%;
        scale: 0.88;
    }

    .label-layer .side {
        top: 56.5%;
        left: 19.2%;
        scale: 0.88;
    }

    #lab-bottle .mask-layer .fill-status {
        left: 98px;
        top: 249px;
    }

    article.blending-fun .notsticky-frame {
        overflow: hidden;
    }
    
}

@media only screen and (min-width: 768px) {
    
    #blending-steps {
        width: calc(65% - 40px);
        margin-left: 35%;
    }
    
    #lab-bottle {
        width: 560px;
        height: 620px;
        top: calc(50vh - 310px);
    }
    
    #sticky-frame {
        left: -45%;
    }

    .option-image {
        top: 0;
        left: 80px;
    }

    .option-image:after {
        top: 100px;
        left: 150px;
    }

    .glide__slide--active .option-image:after {
        top: 20%;
        left: 72%;
    }

    .lab-image1 {
        display: none;
    }

    #lab-bottle .bottom-layer {
        width: 240px;
        height: 370px;
        top: 184px;
        left: 40px;
    }

    .label-layer #outer {
        left: 128px;
        top: 40%;
        scale: 1.2;
    }

    .label-layer .side {
        left: 129px;
        top: 355px;
        scale: 1.2;
    }

    #lab-bottle .mask-layer .fill-status {
        left: 144px;
        top: 340px;
    }
    
}

@media only screen and (min-width: 1024px) {
    
    #blending-steps {
        width: calc(70% - 60px);
        margin-left: 30%;
    }
    
    #lab-bottle {
        width: 560px;
        height: 620px;
        top: calc(50vh - 310px);
    }
    
    #sticky-frame {
        left: -37%;
    }
    
    .current-option {
        padding-left: 220px;
        margin-top: 80px;
        margin-bottom: 20px;
    }

    .option-image {
        left: 180px;
        top: 0;
    }

    .option-image:after {
        top: 20%;
        left: 80%;
    }

    .glide__slide--active .option-image {
        left: 0;
        top: -70px;
    }

    .glide__slide--active .option-image:after {
        top: 50%;
        left: 60%;
    }

    ul.option-controls {
        top: -20px;
    }

    ul.option-controls li + li {
        margin: 0;
        margin-top: 60px;
    }

    ul.option-controls li:last-of-type{
        position: absolute;
        top: 20px;
        width: 80px;
    }

    .option-card {
        border-radius: 16px;
    }

    .summary-panel {
        margin-left: 260px;
        margin-top: 80px;
    }
    
    .left-column {
        width: 230px;
        display: inline-block;
        position: relative;
        margin-right: 30px;
        vertical-align: top;
    }
    
    .right-column {
        width: calc(100% - 270px);
        display: inline-block;
        position: relative;
        vertical-align: bottom;
        margin-bottom: 20px;
    }

    .lab-image2 {
        display: block;
        width: 160px;
        margin: 10px 0;
        max-width: 600px;
        position: absolute;
        z-index: 3;
        top: 30px;
        right: 60px;
        transition: top 1s;
    }

    .lab-image2:hover {
        top: 40px;
    }
    
}

.glide__bullet:nth-of-type(1) {
    background-color: #dccfbb;
}

.glide__bullet:nth-of-type(2) {
    background-color: #199776;
}

.glide__bullet:nth-of-type(3) {
    background-color: #f4e6f2;
}

.glide__bullet:nth-of-type(4) {
    background-color: #c9e1f2;
}

.glide__bullet:nth-of-type(5) {
    background-color: #f3e05f;   
}